@model PagedList.IPagedList<Models.EF.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Admin - Danh Sách Sản Phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section title{
    Admin - Danh Sách Sản Phẩm
}

@section header{
    Danh Sách Sản Phẩm
}

@section jsFooter{
    <script src="/Assets/Admin/js/Controller/ProductController.js"></script>
}


<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="row">
            <div class="col-md-4" style="padding: 15px 15px">
                @using (Html.BeginForm("Index", "Product", FormMethod.Get))
            {
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" name="searchString" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-2 col-md-offset-5" style="padding:15px">
                <a class="btn btn-default" style="height:30px; width:150px; font-size:15px" href="/Admin/Product/Create">Thêm Sản Phẩm</a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã Sản Phẩm</th>
                            <th>Tên Sản Phẩm</th>
                            <th>Hình Ảnh</th>
                            <th>Giá Bán</th>
                            <th>Giá Sales</th>
                            <th>Số Lượng</th>
                            <th>Danh Mục</th>
                            <th>Bảo Hành</th>
                            <th>Lượt Xem</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.ID">
                                <td>@item.Code</td>
                                <td>@item.Name</td>
                                <td><img src="@item.Image" alt="@item.Name" style="width:70px" height="70px" /></td>
                                <td>@item.Price</td>
                                <td>@item.PromotionPrice</td>
                                <td>@item.Quantity</td>
                                <td>@item.CategoryID</td>
                                <td>@item.Warranty tháng</td>
                                <td>@item.ViewCount</td>
                                <td><a href="#" class="btn-product-active" data-id="@item.ID">@(item.Status ? "Kích Hoạt" : "Khóa")</a></td>
                                <td>
                                    <a href="/Admin//Product/Edit/@item.ID">Sửa</a>
                                    |
                                    @Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID }, new AjaxOptions
                               {
                                   Confirm = "Bạn Có Muốn Xóa Sản Phẩm Này",
                                   OnComplete = "$('#row_" + @item.ID + "').remove()",
                                   HttpMethod = "Delete"
                               })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
    </div>
</div>

